beautifulsoup4
community
freetype-py
gtts
jupyter
matplotlib
moviepy
nltk
opencv-python
pandas
pillow==9.5.0
pyautogui
pymongo
python-louvain
pytorch
pytube
randomuser
requests
scikit-image
spacy
spotipy
tweepy
lxml
tqdm
re 